<%if !logged_in? %>
  <h1>Welcome to FriendsBook</h1>
  <p>Keep track of all of your friends' contact info in one place!</p>
  <%= link_to "Get started", new_user_path%>
<%else%>
  <h1>Let's get started!</h1>
  <p>Click the link below to begin adding to your FriendsBook!</p>
  <%= link_to "Get started", new_friend_path%>
<%end%>
