<%if !logged_in? %>
  <div class = "container justify-content-center mt-4 col-5">
    <div class="p-5 bg-light rounded-3">
      <div class="container-fluid">
        <h1 class="display-4 text-center fw-bold">Welcome to FriendsBook</h1>
        <p class="fs-6">Keep track of all of your friends' contact info in one place!</p>
        <div class= "row justify-content-center">
          <%= link_to "Get started", new_user_path, class: "btn btn-primary btn-lg"%>
        </div>
      </div>
    </div>
  </div>
<%else%>
  <div class = "container justify-content-center mt-4 col-5">
    <div class="p-5 bg-light rounded-3">
      <div class="container-fluid">
        <h1 class="display-5 text-center fw-bold">Let's get started!</h1>
        <p class="fs-6">Click the link below to begin adding to your FriendsBook!</p>
        <div class= "row justify-content-center">
          <%= link_to "Get started", new_friend_path, class: "btn btn-primary btn-lg"%>
        </div>
      </div>
    </div>
  </div>
<%end%>
