.form-content {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 10% auto;
  padding: 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  width: 25rem;
}
.form-content p {
  padding: 5px 0;
  display: flex;
  gap: 25%;
}
.form-content input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}
.form-content input[type="submit"] {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
}
